@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.google.com/specimen/Montserrat');
}

body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: #161516;
;
}

code {
  font-family:Montserrat, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

